<head>
  <style type="text/css">
    .eventblock {background-color: lightgray; color: blueviolet; padding: 20px; margin: 10px;}
  </style>
</head>

<h1>Events for <%= @user.email %></h1>
<div>
<h1>Upcoming Events:</h1>
  <% @user.attended_events.future.each do |event| %>
      <div class = eventblock>
        <p>Event Name: <%= event.name %> </p>
        <p>Location: <%= event.location %> </p>
        <p>Date: <%= event.date %>
      </div>
  <% end %>

  <h1>Past Events:</h1>
  <% @user.attended_events.past.each do |event| %>
      <div class = eventblock>
        <p>Event Name: <%= event.name %> </p>
        <p>Location: <%= event.location %> </p>
        <p>Date: <%= event.date %>
      </div>
  <% end %>

  <h1>Created Events:</h1>
  <% @user.created_events.each do |event| %>
    <div class = eventblock>
      <p>Event Name: <%= event.name %> </p>
      <p>Location: <%= event.location %> </p>
      <p>Date: <%= event.date %>
    </div>
  <% end %>
  <%= link_to "Return Home", root_path %>
</div>






<!--<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
